.error-modal_alert {
  margin-top: 0;
}

.error-modal_alert_title {
  vertical-align: middle;
  margin: 1rem 0;
}

.error-modal_alert_title > * {
  vertical-align: middle;
}

.error-modal_alert_title_icon {
  margin-right: 0.5rem;
}
