.error-modal {
  padding: 0;
}

.error-modal .modal-header {
  border-bottom: 0;
  padding: 0;
}

.error-modal_alert {
  border-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding: 2rem 4rem 2rem 2rem;
}

.error-modal_alert_title {
  vertical-align: middle;
  margin: 1rem 0;
}

.error-modal_alert_title > * {
  vertical-align: middle;
}

.error-modal_alert_title_icon {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
