.main-panel {
    width: 100%;
    overflow: auto;
}

body {
    /*background: #d1e6cf;
    background: -webkit-linear-gradient(white, var(--gradient));
    background: linear-gradient(white, var(--gradient));*/
    /*background-color: #f4f3ef;*/
}