.navbar-default {
    background-color: #051A38;
    border-color: rgba(34, 34, 34, 0.05);
}

.nav > li > a {
  color: white !important;
}

.navbar .navbar-brand {
    padding: 0px;
}

.navbar-brand img {
    height: 100%;
}

.navbar .navbar-text {
    margin-top: 25px;
}
