.nav-list {
  bottom: 0;
  height: 300px;
  background-color: #fff;
  padding: 0 20px;
  position: relative;
  width: 260px;
  overflow: auto;

  @media (max-width: 768px) {
    padding: 20px;
    width: 100%
  }
}

#transactions .caret {
  display: none;
}

.nav-list--group {
  margin-bottom: 20px;
  padding-left: 0;
}

.nav-list--item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.nav-list--item:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.nav-list--item {
  position: relative;
  display: block;
  padding: 10px 5px;
  margin-bottom: -1px;
  background-color: #fff;
}

.nav-list--tx-wrapper {
  display: grid;
  grid-template-areas:
    "a b"
    "a b";
  max-width: 210px;
}

.nav-list--tx-wrapper__child {
  grid-area: a;
  align-self: center;
  justify-self: center;
}

.nav-list--tx-name {
  display: inline-block;
  grid-area: b;
  margin-left: 10px;
  width: 170px;
}
