{
  "presets": ["env", "react-app"],
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "src",
        "rootPathPrefix": "~"
      }
    ],
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "../build/contracts",
        "rootPathPrefix": "#"
      },
      "contract-root-import"
    ]
  ]
}
