.alert {
  margin-top: 10px;

  @media (max-width: 768px) {
    border-radius: 0;
    margin: 0;
    padding: 2rem;
  }
}

.alert-danger {
  color: white
}

.alert--banner {
  border-radius: 0;
  border: 0;
  margin: 0;
}

.alert--banner__large {
  padding: 3rem 2rem;

  @media (max-width: 768px) {
    padding: 2rem 2rem;
  }
}

.alert--banner__large p {
  margin-bottom: 10px;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.alert--banner__in-content {
  height: 140px;
  position: relative;
}
