.alert {
  margin-top: 10px;
}

.alert-danger {
  color: white
}

.alert--banner {
  border-radius: 0;
  border: 0;
  margin: 0;
}

.alert--banner__large {
  padding: 3.5rem 2rem;
}

.alert--banner__large p {
  margin-bottom: 10px;

  @media (max-width: 768px) {
    font-size: 13px;
  }
}

.alert--banner__in-content {
  height: 155px;
  position: relative;
  top: -30px;
}
