.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: all 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: all 1s ease-in;
}

.fade-slow-enter {
  opacity: 0.01;
}

.fade-slow-enter-active {
  opacity: 1;
  transition: all 1s ease-out;
}

.fade-slow-exit {
  opacity: 1;
}

.fade-slow-exit-active {
  opacity: 0.01;
  transition: all 1s ease;
}

.slide-down-enter {
  animation-name: slideDown;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.slide-down-enter-active {
  animation-name: slideDown;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.slide-down-exit {
  animation-name: slideDown;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.slide-down-exit-active {
  animation-name: slideUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.slide-down-exit-done {
  animation-name: slideUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes slideDown {
  from { margin-top: -155px; }
  to { margin-top: 0; }
}

@keyframes slideUp {
  from { margin-top: 0; }
  to { margin-top: -155px; }
}

.cross-fade-leave {
  opacity: 1;
}

.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.cross-fade-enter {
  opacity: 0;
}

.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.cross-fade-height {
  transition: height 300ms ease-in-out;
}
