.btn {
  box-shadow: 2px 2px 2px 0 rgba(200, 220, 240, 0.6);
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 15px 20px;
  transition: all 100ms ease-in-out;
}

.btn-link {
  box-shadow: none;
}

.btn-sm {
  font-size: 13px;
  padding: 10px 14px;
}

.btn-info {
  background-color: $brand-info;
}

.btn-toolbar .btn {
  border-radius: 2px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 8px 16px;
}

.btn-toolbar .btn-default:active,
.btn-toolbar .btn-default.active {
  color: #fff;
  background-color: $brand-info;
  border-color: darken($brand-info, 2%);
}

.btn-toolbar .btn-default:active:hover,
.btn-toolbar .btn-default:active:focus,
.btn-toolbar .btn-default:active.focus,
.btn-toolbar .btn-default.active:hover,
.btn-toolbar .btn-default.active:focus,
.btn-toolbar .btn-default.active.focus {
  color: #fff;
  background-color: darken($brand-info, 4%);
  border-color: darken($brand-info, 6%);
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: 0;
}
