.btn {
  box-shadow: 2px 2px 2px 0 rgba(200, 220, 240, 0.6);
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: all 100ms ease-in-out;
}

.btn:active,
.btn:hover,
.btn:focus {
  transform: scale(1.02);
}

.btn-lg {
  font-size: 14px;
  padding: 16px 22px;
}

.btn-sm {
  font-size: 12px;
  padding: 8px 12px;
}

.btn-xs {
  font-size: 12px;
  padding: 4px 10px;
}

.btn-link {
  box-shadow: none;
}

.btn-info {
  background-color: $brand-info;
}

.btn.disabled,
.btn.disabled:hover,
.btn.disabled:focus,
.btn.disabled.focus,
.btn[disabled],
.btn[disabled]:hover,
.btn[disabled]:focus,
.btn[disabled].focus {
  opacity: 0.5;
  transform: scale(1);
}

// This is to be used against a colored / dark background
.btn-clear {
  background-color: white;
  border-radius: 50px;
  border: 3px solid white;
  box-shadow: none;
  color: #000;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.15rem;
  margin-top: 10px;
  padding: 5px 40px 4px;
}

.btn-clear:hover,
.btn-clear:focus,
.btn-clear:active {
  background-color: white;
  border-color: white;
  transform: scale(1.05);
}

.btn-clear.disabled:hover,
.btn-clear.disabled:focus,
.btn-clear.disabled.focus,
.btn-clear[disabled]:hover,
.btn-clear[disabled]:focus,
.btn-clear[disabled].focus {
  background-color: inherit;
  border-color: inherit;
}

.alert-primary .btn-clear {
  color: $brand-primary;
}

.alert-success .btn-clear {
  color: $brand-success;
}

.alert-warning .btn-clear {
  color: $brand-warning;
}

.alert-info .btn-clear {
  color: $brand-info;
}

.alert-danger .btn-clear {
  color: $brand-danger;
}


.btn-toolbar .btn {
  border-radius: 2px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 7px 16px 5px 16px;
}

.btn-toolbar .btn-default:active,
.btn-toolbar .btn-default.active {
  color: #fff;
  background-color: $brand-info;
  border-color: darken($brand-info, 2%);
}

.btn-toolbar .btn-default:active:hover,
.btn-toolbar .btn-default:active:focus,
.btn-toolbar .btn-default:active.focus,
.btn-toolbar .btn-default.active:hover,
.btn-toolbar .btn-default.active:focus,
.btn-toolbar .btn-default.active.focus {
  color: #fff;
  background-color: darken($brand-info, 4%);
  border-color: darken($brand-info, 6%);
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: 0;
}

.btn-group .btn {
  border: 2px solid #ccc;
  box-shadow: none;
}

.btn-group .btn:hover,
.btn-group .btn:active,
.btn-group .btn:focus {
  border: 2px solid $brand-info;
}

// Below taken from https://gist.github.com/Gurylev/ae78a534d873c9aeb853
.btn-outline {
  background-color: transparent;
}

.btn-primary.btn-outline {
  color: $btn-primary-bg;
  &:hover {
    background-color: $btn-primary-bg;
    border-color: $btn-primary-border;
  }
}

.btn-success.btn-outline {
  color: $btn-success-bg;
  &:hover {
    background-color: $btn-success-bg;
    border-color: $btn-success-border;
  }
}

.btn-info.btn-outline {
  color: $btn-info-bg;
  &:hover {
    background-color: $btn-info-bg;
    border-color: $btn-info-border;
  }
}

.btn-warning.btn-outline {
  color: $btn-warning-bg;
  &:hover {
    background-color: $btn-warning-bg;
    border-color: $btn-warning-border;
  }
}

.btn-danger.btn-outline {
  color: $btn-danger-bg;
  &:hover {
    background-color: $btn-danger-bg;
    border-color: $btn-danger-border;
  }
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}

// Button outline style on inverse background
.btn-outline-inverse {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  &:hover {
    background-color: #fff;
  }
}
.btn-primary.btn-outline-inverse:hover {
  color: $brand-primary;
}

.btn-success.btn-outline-inverse:hover {
  color: $brand-success;
}

.btn-info.btn-outline-inverse:hover {
  color: $brand-info;
}

.btn-warning.btn-outline-inverse:hover {
  color: $brand-warning;
}

.btn-danger.btn-outline-inverse:hover {
  color: $brand-danger;
}

.btn.btn__no-shadow {
  box-shadow: none;
}
