.case-list {
  list-style-type: none;
  padding: 0;
}

.case-list--item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  box-shadow: 1px 1px 1px 0 rgba(200, 205, 210, 0.1);
  border-radius: 5px;
  border: 3px solid #eff4f8;
  box-sizing: border-box;
  height: 70px;
  list-style-type: none;
  line-height: 66px;
  padding: 0;
  position: relative;
  margin: 0 0 24px;
  opacity: 1;
  text-decoration: none;
  width: 100%;

  transition: opacity .15s cubic-bezier(0.4,0.0,0.2,1),
              border .15s cubic-bezier(0.4,0.0,0.2,1),
              box-shadow .15s cubic-bezier(0.4,0.0,0.2,1);

  @media (max-width: 768px) {
    border-radius: 0;
    border: 1px solid white;
    border-bottom-color: rgba(200, 205, 210, 0.2);
    box-shadow: none;
    margin: 0 0 3px;
    padding: 0;
    transition: none;
  }
}

.case-list--item:hover {
  box-shadow: 0 0 10px 4px rgba(60,64,67,0.052),
              0 1px 2px 0 rgba(60,64,67,0.202),
              0 1px 4px 0 rgba(60,64,67,0.109);
  border: 1px solid transparent;
  opacity: 1;
  text-decoration: none;

  @media (max-width: 768px) {
    border-bottom-color: rgba(200, 205, 210, 0.2);
    box-shadow: none;
  }
}

.case-list--item > span {
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
}

.case-list--item .label {
  background: transparent;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

.case-list--item__case-number {
  color: $brand-info;
  font-weight: 700;
  transition: color 200ms ease-in;
  width: 40px;

  @media (max-width: 768px) {
    width: 15%;
  }
}

.case-list--item__status {
  min-width: 30%;

  @media (max-width: 768px) {
    width: 62%;
  }
}

.case-list--item__eth-address {
  line-height: 22px;
  width: 190px;

  @media (max-width: 768px) {
    display: none !important;
  }
}

.case-list--item__eth-address span {
  color: #ccc;
  font-size: 14px;
  text-decoration: none;
}

.case-list--item:hover .case-list--item__eth-address span {
  color: #aaa;
}

.case-list--item__view {
  color: lighten($brand-info, 40%);
  float: right;
  font-weight: 700;
  transition: color 200ms ease-in;
  width: 110px;

  @media (max-width: 768px) {
    color: $brand-info;
    min-width: 60px;
    width: 60px;
  }
}

.case-list--item__view svg {
  margin-top: 24px;

  @media (max-width: 768px) {
    margin-top: 0;
  }
}

.case-list--item__view__text {
  @media (max-width: 768px) {
    display: none;
  }
}

.case-list--item:hover .case-list--item__view {
  color: $brand-info;
}

.case-list--item__view .loader {
  margin: 0;
}

.case-list--item__pending {
  opacity: 0.7;
}

.case-list--item button {
  margin: 0 auto;
}
