.form-wrapper {
  border-radius: 3px;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
  background: white;
  margin-top: 30px;
  padding: 30px;
}

.form-wrapper--footer {
  margin-top: 30px;
}

.form-wrapper--footer a {
  color: #65afec;
}

.form-wrapper--footer a:hover,
.form-wrapper--footer a:focus {
  color: #65afec;
}

.form-control:focus {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.075);
}

.help-block {
  color: $medcredits-text-gray;
}

.btn {
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 15px 20px;
}

