.modal-dialog {
  @media (max-width: $screen-sm) {
    margin: 5px;
  }
}

.modal-header {
  background: rgba(250, 250, 250, 1);
  border: 0;
}

.modal-body {
  padding: 20px 30px;

  @media (max-width: $screen-sm) {
    font-size: 85%;
    padding: 20px;
  }
}

.modal-footer {
  background: rgba(245, 245, 245, 1);
}

.modal-content {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);

  @media (min-width: 768px) {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }
  @media (max-width: $screen-sm) {
    border-radius: 0;
  }
}

.modal-footer {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  @media (max-width: $screen-sm) {
    border-radius: 0;
  }
}
