.modal-body {
  padding: 30px 15px;
}

.modal-footer {
  background: rgba(245, 245, 245, 1);
}

.modal-content {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);

  @media (min-width: 768px) {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }
}

.modal-footer {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
