.navbar {
  border: 0;
  margin-bottom: 0;
}

.navbar-brand {
  padding: 10px;
}

.navbar-brand img {
  height: 100%;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus,
{
  background-color: transparent;
}

.navbar-inverse .navbar-toggle {
  border-color: transparent;
}

.nav--network-name {
  @media (max-width: 768px) {
    display: none;
  }
}

.nav--network-name li > a {
  padding-left: 8px;
  padding-right: 8px;
}

.navbar-inverse .navbar-nav > li.active > a::after,
.navbar-inverse .navbar-nav > li > a:hover::after,
.navbar-inverse .navbar-nav > li > a:focus::after {
  transform: scaleX(1);
}

.navbar-inverse .navbar-nav > li > a::after {
  content: '';
  display: block;
  width: 100%;
  margin-top: 4px;
  height: 4px;
  transition: transform 150ms ease-in-out;
  transform: scaleX(0);
  background-color: lighten($brand-dark-blue, 30%);
}

.navbar-nav > li > a {
  @media (min-width: 768px) {
    padding-bottom: 14px;
  }
}
