.pagination > li > a,
.pagination > li > span {
  color: $brand-info;
  padding: 4px 14px;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  border-color: $brand-info;
  background-color: $brand-info;
}
