body {
  padding-bottom: 10rem;
  letter-spacing: 0.025rem;
  font-feature-settings: "liga1" on;
}

.eth-address {
  font-family: "Space Mono", monospace;
}

.body-inverse {
  background: #051A38;
}

h1 .small-inverse,
h2 .small-inverse,
h3 .small-inverse,
h4 .small-inverse,
h5 .small-inverse,
h6 .small-inverse {
  color: #4aa8f7;
}

.text-white {
  color: white;
}

.progress {
  margin-top: 10px;
}

not(.nav) li {
  margin-bottom: 0.5em;
}

.text-gray {
  color: $medcredits-text-gray;
}

.text-footer {
  color: $medcredits-text-gray;
}

.body-inverse .text-footer {
  color: rgba(138, 141, 156, 0.8);
}

.blank-state {
  display: grid;
  grid-template-columns: none;
  grid-gap: 0;
  grid-auto-rows: 120px;
  grid-template-areas:
    ". a a ."
    ". a a .";
}

.blank-state--inner {
  grid-area: a;
  align-self: center;
  justify-self: center;
}

.secret-key__key {
  font-size: 2.4rem;
  text-align: center;
  font-weight: bold;

  @media (max-width: 768px) {
    font-size: 17px;
  }
}

.account--extras {
  margin-top: 15px;
}

.account--extras a {
  color: #65afec;
}

.account--extras a:hover,
.account--extras a:focus {
  color: #65afec;
}

p.lead {
  line-height: 1.6;
}

small,
.small {
  font-size: 70%;

  @media (max-width: 768px) {
    font-size: 85%;
  }
}

// Chuck, Move this to _button.scss once PR #23 is merged in:
.btn-toolbar .btn {
  border-radius: 2px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 8px 16px;
}

.btn-toolbar .btn-default:active,
.btn-toolbar .btn-default.active {
  color: #fff;
  background-color: lighten($brand-info, 5%);
  border-color: $brand-info;
}

.btn-toolbar .btn-default:active:hover,
.btn-toolbar .btn-default:active:focus,
.btn-toolbar .btn-default:active.focus,
.btn-toolbar .btn-default.active:hover,
.btn-toolbar .btn-default.active:focus,
.btn-toolbar .btn-default.active.focus {
  color: #fff;
  background-color: darken($brand-info, 2%);
  border-color: darken($brand-info, 4%);
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: 0;
}
