body {
  padding-bottom: 10rem;
}

h1 .small-inverse,
h2 .small-inverse,
h3 .small-inverse,
h4 .small-inverse,
h5 .small-inverse,
h6 .small-inverse {
  color: #4aa8f7;
}

.text-white {
  color: white;
}

.form-group--image-upload {
  min-height: 90px;
}

.progress {
  margin-top: 10px;
}

not(.nav) li {
  margin-bottom: 0.5em;
}

.text-gray {
  color: $medcredits-text-gray;
}

.blank-state {
  display: grid;
  grid-template-columns: none;
  grid-gap: 0;
  grid-auto-rows: 120px;
  grid-template-areas:
    ". a a ."
    ". a a .";
}

.blank-state--inner {
  grid-area: a;
  align-self: center;
  justify-self: center;
}
