.table tr {
  transition: all 800ms ease-in;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  border: 0;
  padding: 10px 8px 3px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th {
  color: #aaa;
  font-weight: 400;
}

.table td.text {
  max-width: 80px;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
  }
}

.table-responsive {
  @media screen and (max-width: 767px) {
    border: 0;
  }
}

.deactivated {
  opacity: 0.5;
  text-decoration: line-through;
}

.deactivated .address__full {
  text-decoration: line-through;
}
