.wrapper.wrapper-full-page.wrapper-home-page {
    /* background-color: #051A38; */
    background: linear-gradient(#051A38, #ceeae2);
}

.alert.alert-top {
    margin-bottom: 0;
    border-radius: 0;
}