
{
  "presets": ["env"],
  "plugins": ["transform-runtime"],
  "env": {
    "development": {
      "plugins": [
        ["babel-plugin-module-alias", [
          { "src": "node_modules/electron-prebuilt" , "expose": "electron" }
        ]]
      ]
    }
  }
}
